<div class="row" id="mainContainer">
    {{#board}}
        <div class="panel panel-default">
            <div class="panel-heading"><h4 align="left">Title : {{title}}</h4> <h4 align="right">작성자: {{writer}}</h4></div>
                <div class="panel-body"><h4>{{contents}}</h4></div>
        </div>
        <div class="panel-footer">
            <button style="background-color: #adadad" type="button" href="#" id='update' onclick="update({{boardSrl}})" class="btn">수정하기</button>
            <button style="background-color: #adadad" type="button" href="#" id='delete' onclick="deleteBoard({{boardSrl}})" class="btn">삭제하기</button>
            <button style="background-color: #adadad" type="button" onclick="location.href='/'" class="btn">목록으로</button>
        </div>
        <div class="panel-body">
            <div class='row' id="commentContainer"></div>
        </div>
            <button align="right" style="background-color: #4cae4c" type="button" href="#" id='writeComment' onclick="writeComment({{boardSrl}})" class="btn">댓글 달기</button>
    {{/board}}
</div>

